.search_bar{
    display: grid;
    width: 50%;
    margin: auto;
    margin-top: 10px;

}
.search_bar #search{
    border-radius: 10px;
    border-color: green;
    background-color: rgba(206, 253, 184, 0.89);
    color: rgb(102, 101, 101);
    font-weight: 600;

}
