.card_container{
    width: 80%;
    height: 80%;
    display: block;

}
.table td{
    border-color: white;

}
.mobile_container{
    display: none;

}

@media (max-width:768px){
    .table{
       display: none;
    }   

    .mobile_container{
        display: flex;
        flex-wrap: wrap;
       justify-content: center;
       margin: auto;
    
    }
}